---
layout: archive
title: "Hello!"
permalink: /
redirect_from: 
  - /about/
  - /about.html
author_profile: true
---

<!-- {% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %} -->

{% if site.author.googlescholar %}
  <div class="wordwrap">I'm Chen Zhiliang, a Singaporean 3rd year CS PhD student at National University of Singapore (NUS). I spent the larger part of my career working with self-driving cars at <a href="https://www.motional.com" target="_blank" rel="noopener">Motional</a> before starting my PhD. My research interest spans several area in ML including LLMs, data selection and planning. I try to uncover some novel and practical problems that arise in these areas, before developing principled methods to solve them.<br><br>I am currently a research intern at Motional until Nov 2025, where I work on embodied AI and autonomous vehicles, focusing on hybrizing rule-based planners with ML-learnt costs.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



